<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MCREM Automation" preserve-order="true" verbose="0" configfailurepolicy="continue">
    <test name="E2E-TestRun">
        <classes>
            <class name="com.test.minivet.RunCucumberTest"/>
        </classes>
    </test>
    <test name="E2E-ReRun">
        <classes>
            <class name="com.test.minivet.ReRunCucumberTest"/>
        </classes>
    </test>
</suite>

